<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Updated</title>
  </head>
  <body>
    <h1>Updated the book.</h1>
    <p><a href="/books/show?isbn={{.Isbn}}">{{.Isbn}}</a></p>
    <p><a href="/books">All Books</a></p>
  </body>
</html>
