<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Books</title>
  </head>
  <body>
    {{ range .}}
    <p>
      <a href="/books/show?isbn={{.Isbn}}">{{.Isbn}}</a>
      <a href="/books/update?isbn={{.Isbn}}">Update</a>
      <!-- <a href="/books/delete?isbn={{.Isbn}}">Delete</a> -->
    </p>
    {{ end}}

    <p><a href="/books/create">Insert A Book</a></p>
  </body>
</html>
