<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Created a Book</title>
  </head>
  <body>
    <h1>Create a new book!</h1>
    <p><a href="/books/show?isbn={{.Isbn}}">{{.Isbn}}</a></p>
    <p><a href="/books">All Books</a></p>
  </body>
</html>
